.popular-tours {
  margin: 0 0 60px;
}

.popular-tours__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popular-tours__item--size-right {
  grid-column: span 2;
}