.season {
  margin: 0 0 80px;
}

.season__item--feedback {
  grid-column: span 2;
}

.season__item--size-high {
  grid-row: span 2;
}

.season__title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin: 0 0 30px;
}

.season__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 380px;
  gap: 20px;
}
